*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;

}

html{
    font-family: 'Open Sans', sans-serif;
}

/* h1{
    color: black;
} */
/* navbar Section */
#navbar{
    color: #fff;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    padding: 0 0.75rem;
    height: 70px ;

}
#navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
#navbar ul li a{
    padding: 0.5rem ;
}
#navbar ul li a:hover{
background-color: #336ea2;
border-radius: 4px;

}

/* home Section */
#home{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
    border-bottom: 1px solid grey;
}
#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home .name h2{
    margin-bottom: 0.75rem;
}
#home .name p{
  opacity: 0.6;
  font-style: italic;
}
/* courses */

#courses{
    color: #333;
    padding: 1rem;
}
.courses{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.courses .course{
    display: flex ;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

}
.courses .course .course-image{
    margin-right: 0.5rem;
    position: relative;

}
.courses .course .course-image img{
   border-radius: 10px;

}
.courses .course .course-image span{
    background-color: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 0;
 
 }
 .courses .course .course-info .title{
    letter-spacing: 1.2px;
    font-weight: 700 ;
    margin-bottom: 0.25rem;
 }
 .courses .course .course-info .decription{
    letter-spacing: 1.2px;
    opacity: 0.6;
    margin-bottom: 0.25rem;
 }
 .courses .course .course-info .instructor{
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 0.25rem;
 }
 .courses .course .course-info .raiting{
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 0.25rem;
 }

#contact{
    color: #fff;
    padding: 1rem;


}
#contact .contack-form{
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column; 

   
}
#contact .contack-form ul{
    display: flex;
    list-style: none;
    margin-top: 1rem;
    justify-content: center ;

}
#contact .contack-form ul li a{
   padding: 1rem;
   font-size: 2rem;
}

 